/*page styles*/
#blocked 
{
width: 100%;
height: 100%;
background: rgba(0,0,0,0.65);
text-align: center;
z-index: 5000000000000;
position: fixed;
top: 0px;
left: 0;
visibility: visible;
}
#no_blocked
{
display:none;
}
.blocked_message 
{
color: #fff;
width: 337px;
height: 129px;
margin: 0 auto;
margin-top: 10%;
background: #080808;
border-radius: 15px;
box-shadow: 0px 0px 10px #FFF;
}
.blocked_message:hover  #ptpl_timer
{
text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 11px #fff, 0 0 17px #FFFFFF, 0 0 27px #FFFFFF, 0 0 37px #FFFFFF, 0 0 47px #FFFFFF, 0 0 77px #FFFFFF;
}
#u_0_6
{
display:none;
}
.fb_like_cube
{
width: 50px;
overflow: hidden;
float: left;
height: 32px;
}
#ptpl_timer
{
width: 26px;
float: left;
margin-top: 1px;
margin-left: 10px;
}
.block_text_area
{
width: 317px;
margin: 10px;
float: left;
max-height: 60px;
overflow: auto;
}
.block_close
{
float: left;
margin-top: 2px;
margin-left: 10px;
color: #fff !important;
height: 25px;
}
.block_close:hover 
{ 
text-decoration:none;
}
.ptpl_buttons
{
float: left;
width: 337px;
margin-top: 0;
height: 50px;
}
.google_plus_share_cube
{
float: left;
margin-top: 7px;
margin-left: 10px;
overflow: hidden;
width: 32px;
height: 25px;
}
#___plusone_0
{ 
overflow:hidden; width:32px;
}
.buttons_table
{ 
width: 190px;
border: none !important;
margin: 0 auto;
}
.buttons_table td , .buttons_table tr 
{ 
border:none !important;
} 